<h1> Main Page</h1>
<div>
    <form method="GET" action="{%url 'home'%}">
        <input type="text" name = "q" placeholder="Search .."> 
    </form>
</div>
<a href="{% url 'logout' %}">logout</a>
<a href="{% url 'signin' %}">signin</a>
<a href="{%url 'resetpasswd'%}">reset passwd</a>
<a href="{%url 'sign_as_doctor'%}">sign_as_docor</a>
<div>
    <div>
        <div>
            {{q}}
        </div>
        <div>
            {{count}}
        </div>
        {% for room in room %}
        <div>
            {%csrf_token%}
            <h5>
                {{room.id}} -- {{room.name}}
            </h5>
            <a href="{%url 'room' room.id%}">room</a>
        </div>
        {% endfor %}
    </div>

{%if user.doctor %}
    <div>
        <a href="{%url 'createRoom'%}">Create Room</a> 
    </div>
{%endif%}
</div>