<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Sign-in</title>
</head>
<body>
    <h1>Doctor Sign-in</h1>
    <form method="post">
        {% csrf_token %}
        <label for="doctor_name">Doctor Name:</label><br>
        <input type="text" id="doctor_name" name="doctor_name" required><br>
        
        <label for="registration_no">Registration Number:</label><br>
        <input type="text" id="registration_no" name="registration_no" required><br>
        
        <label for="registration_year">Registration Year:</label><br>
        <input type="text" id="registration_year" name="registration_year" required><br>
        
        <label for="state_medical_council">State Medical Council:</label><br>
        <input type="text" id="state_medical_council" name="state_medical_council" required><br>
        
        <label for="disease">Disease</label><br>
        <input type="text" id="disease" name="disease" required><br>
        
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" required><br>


        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
